# General
URL='https://pages-example.com/'
NAME='Name'
# Pages
## presentation.astro
PRESENTATION_TITLE=
PRESENTATION_P_1=
PRESENTATION_P_2=
## Letter.astro
LETTER_HEADER_1=
LETTER_HEADER_2=
## craft.astro
CRAFT_P_1=
CRAFT_P_2=
CRAFT_P_3=
CRAFT_MODAL_1=
## music.astro
MUSIC_TITLE=
MUSIC_P_1=
MUSIC_P_2=
MUSIC_HEART=
## letter.astro
LETTER_HEADER_1=
LETTER_HEADER_2=
LETTER_P_1=