main {
    display: flex;
    justify-content: center;
    height: 100dvh;
    align-items: center;

    flex-direction: column;
    text-decoration: none;
}
main h1 {
    text-align: center;
    font-size: clamp(1.8rem, 10vw, 4rem);
    margin: 1rem 0;
    padding: 0 .5rem;
}
main p {
    animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;

    font-size: clamp(1rem, 6vw, 2rem);
    text-align: center;
    padding: 0 1rem;
}

@keyframes pulse {
    50% {opacity: .5;}
}