@import "tailwindcss";

@theme {
  --spacing-2-block: calc(var(--block-size) * 2);
  --spacing-3-block: calc(var(--block-size) * 3);
  --spacing-4-block: calc(var(--block-size) * 4);
  --spacing-6-block: calc(var(--block-size) * 6);
  --spacing-7-block: calc(var(--block-size) * 7);
  --spacing-9-block: calc(var(--block-size) * 9);

  --animate-flicker: flicker 1s cubic-bezier(.4, 0, .6, 1) infinite;
  @keyframes flicker {
    0%, 100%{
      background-color: var(--color-pink-200);
    }
    25%, 75% {
        background-color: var(--color-pink-300);
    }
    50% {
      background-color: var(--color-pink-400);
    }
    60% {
      background-color: var(--color-pink-400);
    }
    70% {
      background-color: var(--color-pink-300);
    }
  }
}
@font-face {
    font-family: 'Minecraft';
    src: url(/fonts/Minecraft-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Minecraft';
    src: url(/fonts/Minecraft-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Desactivar las animaciones por defecto de Astro */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

/* Solo animar la nueva página con la máscara */
::view-transition-new(root) {
  animation: svgMaskReveal 0.8s ease-in-out, lightenTransition 0.8s ease-in-out;
}

/* Mantener la página antigua visible sin fade */
::view-transition-old(root) {
  z-index: 1;
  animation: darken 0.5s ease-in-out;
}

::view-transition-new(root) {
  z-index: 2;
}
@keyframes darken {
  from {
    filter: saturate(1);
  }
  to {
    filter: saturate(0);
    opacity: 0;
  }
}

@keyframes lightenTransition {
  from {
    background-color: #141414;
  }
  to {
    background-color: #262626;
  }
}

@keyframes svgMaskReveal {
  from {
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-balloon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 1a7 7 0 0 1 7 7c0 5.457 -3.028 10 -7 10c-3.9 0 -6.89 -4.379 -6.997 -9.703l-.003 -.297l.004 -.24a7 7 0 0 1 6.996 -6.76zm0 4a1 1 0 0 0 0 2l.117 .007a1 1 0 0 1 .883 .993l.007 .117a1 1 0 0 0 1.993 -.117a3 3 0 0 0 -3 -3z" /><path d="M12 16a1 1 0 0 1 .993 .883l.007 .117v1a3 3 0 0 1 -2.824 2.995l-.176 .005h-3a1 1 0 0 0 -.993 .883l-.007 .117a1 1 0 0 1 -2 0a3 3 0 0 1 2.824 -2.995l.176 -.005h3a1 1 0 0 0 .993 -.883l.007 -.117v-1a1 1 0 0 1 1 -1z" /></svg>');
    mask-size: 0% 0%;
    mask-position: center;
    mask-repeat: no-repeat;
  }
  to {
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-balloon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 1a7 7 0 0 1 7 7c0 5.457 -3.028 10 -7 10c-3.9 0 -6.89 -4.379 -6.997 -9.703l-.003 -.297l.004 -.24a7 7 0 0 1 6.996 -6.76zm0 4a1 1 0 0 0 0 2l.117 .007a1 1 0 0 1 .883 .993l.007 .117a1 1 0 0 0 1.993 -.117a3 3 0 0 0 -3 -3z" /><path d="M12 16a1 1 0 0 1 .993 .883l.007 .117v1a3 3 0 0 1 -2.824 2.995l-.176 .005h-3a1 1 0 0 0 -.993 .883l-.007 .117a1 1 0 0 1 -2 0a3 3 0 0 1 2.824 -2.995l.176 -.005h3a1 1 0 0 0 .993 -.883l.007 -.117v-1a1 1 0 0 1 1 -1z" /></svg>');
    mask-size: 700% 700%;
    mask-position: center;
    mask-repeat: no-repeat;
  }
}