@import "tailwindcss";

@theme {
  --spacing-2-block: calc(var(--block-size) * 2);
  --spacing-3-block: calc(var(--block-size) * 3);
  --spacing-4-block: calc(var(--block-size) * 4);
  --spacing-6-block: calc(var(--block-size) * 6);
  --spacing-7-block: calc(var(--block-size) * 7);
  --spacing-9-block: calc(var(--block-size) * 9);

  --animate-rainbow: rainbow 10s infinite alternate;
  --animate-flicker: flicker 1s cubic-bezier(.4, 0, .6, 1) infinite alternate;
  @keyframes flicker {
    0%{
      background-color: var(--color-pink-200);
    }
    50% {
        background-color: var(--color-pink-300);
    }
    100% {
      background-color: var(--color-pink-400);
    }
  }
}
@font-face {
    font-family: 'Minecraft';
    src: url(/fonts/Minecraft-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Minecraft';
    src: url(/fonts/Minecraft-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Desactivar las animaciones por defecto de Astro */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

/* Solo animar la nueva página con la máscara */
::view-transition-new(root) {
  animation: svgMaskReveal 0.8s ease-in-out, lightenTransition 0.8s ease-in-out;
}

/* Mantener la página antigua visible sin fade */
::view-transition-old(root) {
  z-index: 1;
  animation: darken 0.5s ease-in-out;
}

::view-transition-new(root) {
  z-index: 2;
}
@keyframes darken {
  from {
    filter: saturate(1);
  }
  to {
    filter: saturate(0);
    opacity: 0;
  }
}

@keyframes lightenTransition {
  from {
    background-color: #141414;
  }
  to {
    background-color: #262626;
  }
}

@keyframes svgMaskReveal {
  from {
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path stroke="none" d="M 0,0 H 24 V 24 H 0 Z" fill="none"/><path d="m 12,1 c 3.865993,0 7,3.1340068 7,7 0,5.457 -3.028,10 -7,10 C 8.1,18 5.11,13.621 5.003,8.297 L 5,8 5.004,7.76 C 5.1333471,3.9895948 8.2273767,0.99993775 12,1 Z"/><path d="m 12,16 a 1,1 0 0 1 0.993,0.883 L 13,17 v 1 a 3,3 0 0 1 -2.824,2.995 L 10,21 H 7 A 1,1 0 0 0 6.007,21.883 L 6,22 A 1,1 0 0 1 4,22 3,3 0 0 1 6.824,19.005 L 7,19 h 3 a 1,1 0 0 0 0.993,-0.883 L 11,18 v -1 a 1,1 0 0 1 1,-1 z"/></svg>');
    mask-size: 0% 0%;
    mask-position: center;
    mask-repeat: no-repeat;
  }
  to {
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path stroke="none" d="M 0,0 H 24 V 24 H 0 Z" fill="none"/><path d="m 12,1 c 3.865993,0 7,3.1340068 7,7 0,5.457 -3.028,10 -7,10 C 8.1,18 5.11,13.621 5.003,8.297 L 5,8 5.004,7.76 C 5.1333471,3.9895948 8.2273767,0.99993775 12,1 Z"/><path d="m 12,16 a 1,1 0 0 1 0.993,0.883 L 13,17 v 1 a 3,3 0 0 1 -2.824,2.995 L 10,21 H 7 A 1,1 0 0 0 6.007,21.883 L 6,22 A 1,1 0 0 1 4,22 3,3 0 0 1 6.824,19.005 L 7,19 h 3 a 1,1 0 0 0 0.993,-0.883 L 11,18 v -1 a 1,1 0 0 1 1,-1 z"/></svg>');
    mask-size: 700% 700%;
    mask-position: center;
    mask-repeat: no-repeat;
  }
}

@keyframes rainbow {
    25% {
        color: #A2E3C4;
    }
    50% {
        color: #FF69B4;
    }
    75% {
        color: #3A6EA5;
    }
    100% {
        color: #222222;
    }
}