@import "tailwindcss";

@theme {
  --animate-flicker: flicker 1s cubic-bezier(.4, 0, .6, 1) infinite;
  @keyframes flicker {
    0%, 100%{
      background-color: var(--color-pink-200);
    }
    25%, 75% {
        background-color: var(--color-pink-300);
    }
    50% {
      background-color: var(--color-pink-400);
    }
    60% {
      background-color: var(--color-pink-400);
    }
    70% {
      background-color: var(--color-pink-300);
    }
  }
}
@font-face {
    font-family: 'Minecraft';
    src: url(/fonts/Minecraft-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Minecraft';
    src: url(/fonts/Minecraft-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}