---
import { ROUTES } from "@/config.ts";

import Layout from "@/layouts/Layout.astro";
import ButtonWelcome from "@/components/ButtonWelcome.svelte";
import AnimationHome from "@/components/AnimationHome.astro";
---

<Layout title="Inicio" description="Sorpresa">
	<ButtonWelcome client:load src={ROUTES.PRESENTATION} transition:name="media-player" transition:persist >
		<div>
			<AnimationHome />
		</div>
	</ButtonWelcome>
</Layout>