---
import Layout from "@layouts/Layout.astro";
import ButtonWelcome from '@components/ButtonWelcome.svelte';
import AnimationHome from "@components/AnimationHome.astro";
import { NAME } from "astro:env/client";
---

<Layout
	description={`Un sitio web de deseos de cumpleaños hecho para ${NAME}.`}
>
<ButtonWelcome client:load src="/presentation" transition:name="media-player" transition:persist >
	<div>
		<AnimationHome />
	</div>
</ButtonWelcome>

</Layout>