---
import Layout from "@/layouts/Layout.astro"
import Body from "@/layouts/Body.astro"
import LetterLove from "@/components/Letter.astro"
import ButtonWelcome from "@/components/ButtonWelcome.svelte"
import AllButtonNav from "@/components/AllButtonNav.astro"
import CardIcon from "@/components/IconCircle.astro"
import ButtonModal from "@/components/ButtonModal.astro"
import IconCapybara from "@/components/icons/IconCapybara.astro"
import IconHeartAnima from "@/components/icons/IconHeartAnima.astro"
import { ROUTES } from "@/config.ts"
---

<Layout>
	<div class="hidden">
		<ButtonWelcome client:load src="" transition:name="media-player" transition:persist />
	</div>
	<Body>
		<section class="flex justify-center gap-5 mb-3">
			<ButtonModal PopoverTarget="modal-page-1" backgroundColor="rgb(0, 0, 0, 0.6)">
				<IconCapybara />
			</ButtonModal>
			<ButtonModal PopoverTarget="modal-page-2" backgroundColor="rgb(0, 0, 0, 0.6)">
				<CardIcon>
					<IconHeartAnima />
				</CardIcon>
			</ButtonModal>
		</section>

		<LetterLove />
		
		<AllButtonNav src1={ROUTES.CRAFT} src2="" isInactive={true} />
	</Body>
</Layout>