---
import Layout from "@layouts/Layout.astro"
import Body from "@layouts/Body.astro"
import MineBook from "@components/MineBook.astro"
import AllButtonNav from "@components/AllButtonNav.astro"
import ButtonWelcome from "@components/ButtonWelcome.svelte"
import { PARAGRAPHMINE } from "astro:env/client"
---

<Layout>
    <div class="hidden">
		<ButtonWelcome client:load src="" transition:name="media-player" transition:persist />
	</div>
    <Body>
        <MineBook>
            { PARAGRAPHMINE }
        </MineBook>
        
        <AllButtonNav src1="/pag-music" src2="/pag-letter" />
    </Body>
</Layout>
