---
import MineBook from "@components/MineBook.astro";
import Layout from "@layouts/Layout.astro";

import { PARAGRAPHMINE } from "astro:env/client";
---

<Layout>
    <div class="grid justify-center h-dvh items-center">
        <MineBook>
            { PARAGRAPHMINE }
        </MineBook>
    </div>
</Layout>
