---
import Layout from "@layouts/Layout.astro";
import ButtonWelcome from "@components/ButtonWelcome.svelte";
import PlayTetoBirthday from "@components/PlayTetoBirthday.svelte";
import AllButtonNav from "@components/AllButtonNav.astro";
import CardIcon from "@components/IconCircle.astro";
import { NAME } from "astro:env/client";
import ButtonModal from "@src/components/ButtonModal.astro";
import CardMusic from "@components/CardMusic.astro";
---

<Layout
	title={`Feliz cumpleaños, ${NAME}`}
	description={`Un sitio web de deseos de cumpleaños hecho para ${NAME}.`}
>
	<div class="hidden">
		<ButtonWelcome client:load src="" transition:name="media-player" transition:persist />
	</div>

	<section class="h-dvh grid justify-center content-center gap-10 px-4">
		<section class="flex justify-center gap-2">
			<CardIcon active={true}>
				<ButtonModal PopoverTarget="modal-page-1">
					<p>¡Feliz cumpleaños, {NAME}!</p>
					<!-- <img class="kasane-teto-media" src="/imgs/kasane-teto-1.avif" alt="kasane teto"> -->
					<div class="container-teto">
						<video src="/kasane-teto-handbrake-without-audio-35.mp4" autoplay muted loop class="kasane-teto-media"></video>
					</div>
					<PlayTetoBirthday client:load />
				</ButtonModal>
			</CardIcon>
		</section>

		<CardMusic>
			<article>
				<h1 class="text-center text-[1.3rem] mb-3 text-blue-500 font-bold">Titulo</h1>
				<p>Primer Parrafo</p>
				<p>Segundo parrafo</p>
			</article>
		</CardMusic>

		<AllButtonNav src1="/presentation" src2="/page-2" />
	</section>
</Layout>
<style>
	.container-teto {
		max-width: 400px;
		width: 95vw;
		height: auto;
		max-height: 80dvh;
	}
	.kasane-teto-media {
		max-width: 100%;
		height: auto;
		mask-image: linear-gradient(
			#000 80%,
			transparent
		);
	}
	article {
		padding: 1rem 2rem;

		& p {
			margin-block: 1lh;
		}
	}
</style>
