---
import Layout from "@layouts/Layout.astro"
import Body from "@layouts/Body.astro";
import LetterCard from "@components/LetterCard.astro"
import AllButtonNav from "@components/AllButtonNav.astro"
import ButtonWelcome from "@components/ButtonWelcome.svelte"
import CardIcon from "@components/IconCircle.astro"
import Text from "@components/ClickableText.astro"
import { NAME } from "astro:env/client";
import { ROUTES } from "@src/config.ts"
---
 
<Layout title="Presentación">
  <div class="hidden">
      <ButtonWelcome client:load src="" transition:name="media-player" transition:persist />
  </div>
  <Body>
    <section class="flex justify-center gap-2">
      <CardIcon active={true}>
        <Text text={NAME} />
      </CardIcon>
    </section>
    <LetterCard title="Hola">
        Presentamos nuestra primera pagina
        <ol class="list-decimal list-inside">
          <li>Si ves círculos que parpadean, puedes hacer clic en ellos.</li>
        </ol>
    </LetterCard>
    <AllButtonNav src1="/birthday-26" src2={ROUTES.MUSIC} />
  </Body>
</Layout>
