---
const backgroundColor = Astro.props.backgroundColor || "#000";
const PopoverTarget = Astro.props.PopoverTarget;
---
<button class="button p-2" popovertarget={PopoverTarget}>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-gift"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 9a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1l0 -2" /><path d="M12 8l0 13" /><path d="M19 12v7a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-7" /><path d="M7.5 8a2.5 2.5 0 0 1 0 -5a4.8 8 0 0 1 4.5 5a4.8 8 0 0 1 4.5 -5a2.5 2.5 0 0 1 0 5" /></svg>
</button>
<section id={PopoverTarget} popover>
    <slot />
	<slot name="close">
        <button class="close-button" popovertarget={PopoverTarget} popovertargetaction="hide">Cerrar</button>
    </slot>
</section>
<style define:vars={{ backgroundColor }}>
    .button {
        color: #fafafa;
        text-transform: uppercase;
        border: 2px solid #fafafa;
        background: #252525;
        box-shadow: 3px 3px #fafafa;
        cursor: pointer;
        border-radius: 100%;
    }

    .button:active {
        box-shadow: none;
        transform: translate(3px, 3px);
    }
    .button svg {
        width: 90px;
    }
    section::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }
    section:popover-open {
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        gap: clamp(4px, 2vh, 10px);

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: min(2rem, 5vw);
        border-radius: .7rem;

        height: min(100dvh, fit-content);

        background-color: var(--backgroundColor);
        color: #fff;
    }
    .close-button {
        font-size: 1.1rem;
        margin-top: 10px;
        padding: .7rem 2rem;
        border: none;
        background: #252525;
        color: #fafafa;
        cursor: pointer;
        border-radius: 12px;
        z-index: 2;
    }
</style>