---
const { src, isInactive } = Astro.props;
---
<a
    href={src}
    class:list={[
        "button",
        {
            "opacity-50 cursor-not-allowed pointer-events-none": isInactive,
        },
    ]}
>
    <slot />
</a>
<style>
    .button {
        font-size: 1.2rem;
        color: #fafafa;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 10px;
        border: 2px solid #fafafa;
        background: #252525;
        box-shadow: 3px 3px #fafafa;
        cursor: pointer;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .button::after {
        content: "";
        position: absolute;
        inset: -8px;
        border-radius: 14px;
        /*         background: rgba(155, 153, 153, 0.301); */
        background: rgba(119, 119, 119, 0.301);
        opacity: 0;
        transform: scale(0.98);
        transition: opacity 120ms ease, transform 120ms ease;
        pointer-events: none;
        z-index: -1;
    }
    .button:active {
        box-shadow: none;
        transform: translate(3px, 3px);
    }
    .button:active::after {
        opacity: 1;
        transform: scale(1.05);
    }
</style>
