---
import Wave from "@components/Wave.astro";
import MusicLoader from "@components/MusicLoader.astro";
import IconHeartStatic from "./icons/IconHeartStatic.astro";
---

<section class="music-card">
    <div class="music-loader-wrapper">
        <MusicLoader />
    </div>
    <slot />
        <div class="wave-container justify-end">
            <div class="music-stats">
                <i class="text-[#ff416c] mr-[5px]">
                    <IconHeartStatic />
                </i>
                <span class="text-[#a0a0ff] text-[0.9rem]">Inspiración</span>
            </div>
            <Wave />
        </div>
</section>
<style>
    .music-card {
        background: rgba(20, 20, 40, 0.7);
        border-radius: 20px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        color: #fff;
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        max-width: 600px;
        position: relative;
    }
    .wave-container {
        border-top: #ffffffa2 1px solid;
        margin-top: 15px;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        overflow: hidden;
        gap: 13px;
    }
    .music-stats {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .music-loader-wrapper {
        position: absolute;
        top: -1.25rem;
        z-index: 1;
        left: 35rem;
    }
    @media (max-width: 640px) {
        .music-loader-wrapper {
            top: -1rem;
            left: 95%;
            transform: translateX(-50%) scale(0.9);
        }
    }
</style>
