---
import Wave from "@/components/Wave.astro";
import MusicLoader from "@/components/MusicLoader.astro";
import IconHeartStatic from "@/components/icons/IconHeartStatic.astro";
---

<section class="music-card">
    <div class="music-loader-wrapper">
        <MusicLoader />
    </div>
        <slot />
    <div class="line"></div>
    <div class="wave-container justify-end">
        <div class="music-stats">
            <i class="text-[#ff416c] mr-2">
                <IconHeartStatic />
            </i>
            <span class="text-[#a0a0ff] text-[0.9rem]">Inspiración</span>
        </div>
        <Wave />
    </div>
</section>
<style>
    .music-card {
        background: rgba(20, 20, 40, 0.7);
        border-radius: 20px;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
        color: #fff;
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        max-width: 600px;
        position: relative;
        padding: 1rem 1.6rem;
    }
    .line {
        height: 2px;
        background: #202d6ba2;
        margin: 1rem 0;
        border-radius: 12px;
    }
    .wave-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        overflow: hidden;
        gap: 13px;
    }
    .music-stats {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & i {
            animation: heart-beat 1s ease-in infinite alternate;
        }
    }
    @keyframes heart-beat {
    from {
        scale: 1;
    }
    to {
        scale: 1.3;
    }
    }
    .music-loader-wrapper {
        position: absolute;
        top: -1.25rem;
        right: -35px;

        z-index: 1;
    }
    @media (max-width: 640px) {
        .music-loader-wrapper {
            top: -1rem;
            left: 95%;
            transform: translateX(-50%) scale(0.9);
        }
    }
</style>
