<button id="main-button">
  <svg
    viewBox="0 0 434 434"
    version="1.1"
    xml:space="preserve"
  >
    <g style="display:inline" transform="scale(7)">
      <path
        style="display:inline;fill:#472929;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 14,8 v 1 1 1 1 1 h 1 v 1 1 h 1 1 v -1 h -1 v -1 -1 h -1 v -1 -1 h 1 V 9 H 15 V 8 Z m 31,0 v 1 h 1 v 1 h -1 v 1 1 1 1 h 1 v -1 h 1 V 12 11 10 9 8 h -1 z m 0,2 V 9 h -1 v 1 z m -2,2 v 1 h 1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#86523b;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 16,15 v 1 1 h -1 v 1 1 1 1 h -1 v 1 1 1 h -1 v 1 1 1 h 1 v -1 -1 h 1 v -1 -1 h 1 v -1 -1 -1 -1 -1 h 1 v -1 -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#a66740;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 18,14 v 1 1 h -1 v 1 h 1 1 v -1 -1 -1 z m 28,8 v 1 1 h 1 v -1 -1 z m 0,2 h -1 -1 v -1 h -1 -1 v 1 h 1 v 1 h 1 v 1 h 1 v -1 h 1 z m 0,1 v 1 h 1 v -1 z m 0,1 h -1 v 1 h 1 z m 2,6 v 1 h 1 v -1 z m 1,1 v 1 h 1 v -1 z m 1,1 v 1 h 1 v -1 z m 1,1 v 1 1 h 1 v -1 -1 z m -3,0 v 1 1 h 1 v -1 -1 z m 1,2 v 1 h 1 v -1 z m -2,2 v 1 h 1 v -1 z m 1,1 v 1 h 1 v -1 z m 1,1 v 1 1 1 h -1 v -1 -1 h -1 v 1 1 h -1 v 1 1 h -1 v -1 h -1 v -1 h -1 v 1 1 h 1 v 1 h 1 1 1 1 v -1 h 1 v -1 h 1 1 v -1 h -1 v -1 h 1 1 v -1 -1 h -1 v 1 h -1 v -1 z m -3,3 v -1 -1 h -1 -1 v 1 h 1 v 1 z m -2,-2 v -1 h -1 v 1 z m 8,2 v 1 h 1 v -1 z m 1,2 v 1 h 1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#b67543;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 34,10 v 1 h 1 1 1 v -1 h -1 -1 z m 3,1 v 1 h 1 v -1 z m 2,1 v 1 h 1 v -1 z m 1,1 v 1 1 h 1 v 1 h -1 -1 v 1 h 1 v 1 1 h 1 v -1 h 1 v -1 h 1 1 1 v -1 -1 h -1 -1 -1 v -1 -1 h -1 z m 5,4 v 1 h 1 v 1 1 1 1 h 1 v 1 1 h -1 v 1 h 1 v 1 h -1 v 1 h -1 v -1 h -1 v -1 h -1 v -1 h -1 v -1 -1 h -1 v -1 -1 h -1 v 1 1 1 h 1 v 1 h -1 v 1 1 1 1 1 1 1 1 1 1 h 1 1 v -1 -1 h -1 v -1 h 1 v 1 h 1 v 1 h 1 v 1 h -1 -1 v 1 1 h 1 v 1 h -1 v 1 h -1 -1 v 1 1 h -1 v 1 1 1 1 1 h -1 v 1 1 1 h 1 1 v -1 h 1 v -1 -1 h 1 v 1 h 1 v -1 -1 h 1 v 1 h 1 v 1 h 1 v -1 -1 h -1 v -1 h -1 v -1 h -1 v -1 h 1 v 1 h 1 1 v 1 1 h 1 v -1 -1 h 1 v 1 1 h 1 v -1 -1 -1 h -1 v -1 h -1 v -1 h 1 v 1 h 1 v 1 h 1 v 1 h 1 v -1 -1 -1 h 1 v -1 -1 h -1 v -1 -1 h -1 v -1 h -1 v -1 h -1 v -1 h 1 v 1 h 1 v 1 h 1 v 1 h 1 v -1 -1 -1 -1 h -1 v -1 -1 h -1 v -1 -1 h -1 v -1 -1 -1 h -1 v -1 -1 -1 h -1 v -1 -1 -1 -1 h -1 z m -3,20 v -1 h -1 -1 v 1 h 1 z m 3,-11 h 1 v -1 h -1 z m 1,-2 v -1 -1 h -1 v 1 h -1 v 1 h 1 z M 39,13 h -1 v 1 h 1 z m -1,1 h -1 v 1 h 1 z m -1,0 v -1 h -1 v 1 z M 20,13 v 1 h -1 v 1 1 1 h 1 v 1 h 1 v -1 h 1 v -1 -1 h -1 v -1 h 1 v -1 h -1 z m 25,15 h 1 v 1 h 1 1 v 1 1 h -1 v -1 h -1 v -1 h -1 z m 3,7 h 1 v 1 1 h 1 v 1 h -1 v -1 h -1 v -1 z m -7,4 h 1 v 1 h -1 z"
      ></path>
      <path
        style="display:inline;fill:#5b322d;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 16,8 v 1 h 1 V 8 Z m 1,1 v 1 1 h 1 V 10 9 Z m 1,2 v 1 h 1 v -1 z m 2,-2 v 1 1 h 1 1 V 10 H 21 V 9 Z m 21,0 v 1 h -1 v 1 h 1 1 V 10 9 Z"
      ></path>
      <path
        style="display:inline;fill:#2b1b23;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 15,8 v 1 h 1 V 8 Z m 1,1 v 1 h -1 v 1 1 h 1 v 1 1 h 1 v 1 h 1 v -1 -1 h 1 V 12 H 18 V 11 H 17 V 10 9 Z m 29,0 v 1 h 1 V 9 Z m 0,1 h -1 v 1 h -1 v 1 h 1 v 1 h -1 v 1 h 1 1 v -1 -1 -1 z m -4,1 v 1 h 1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#54332e;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 14,20 v 1 h 1 v -1 z m 10,6 v 1 h 1 v -1 z m 2,1 v 1 h 1 v -1 z m -3,1 v 1 h 1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#673d35;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 13,23 v 1 h 1 v -1 z m -1,3 v 1 h 1 v -1 z m -1,2 v 1 1 h 1 v -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#88523a;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 16,25 v 1 h 1 v -1 z m 1,1 v 1 h 1 v -1 z m -1,0 h -1 v 1 h 1 z m -1,1 h -1 v 1 h 1 z m 0,1 v 1 h 1 v -1 z m -3,-1 v 1 h 1 v -1 z m 1,2 v 1 h 1 v -1 z m 0,1 h -1 -1 v 1 h -1 v 1 1 1 1 H 9 v 1 1 1 1 h 1 v 1 h 1 v 1 1 h 1 v 1 1 h 1 v 1 h 1 v 1 h 1 1 v 1 h 1 v -1 h 1 v -1 h 1 v -1 h -1 -1 v -1 -1 h -1 v -1 h 1 v -1 h -1 -1 v 1 1 h -1 v -1 -1 h -1 -1 v -1 h 1 v -1 h -1 v -1 -1 -1 h 1 v -1 h -1 v -1 -1 -1 h 1 z m 0,4 h 1 v -1 h -1 z m 1,-1 h 1 v -1 h -1 z m 1,-1 h 1 v -1 h -1 z m -2,6 h 1 v -1 -1 h -1 v 1 z m 1,-2 h 1 v -1 h -1 z m 0,4 h 1 v -1 h -1 z m 1,-1 h 1 v -1 h -1 z m 2,2 v 1 h 1 V 41 Z M 10,40 H 9 v 1 1 h 1 v -1 z m 10,4 v 1 1 h -1 v 1 h 1 1 v -1 h 1 v -1 -1 h -1 z"
      ></path>
      <path
        style="display:inline;fill:#8a543c;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 24,9 v 1 h 1 1 1 V 9 h -1 -1 z m 0,1 h -1 v 1 h 1 z m 0,1 v 1 1 h 1 v -1 -1 z m 1,2 v 1 h 1 1 1 v -1 h -1 v -1 h -1 v 1 z m 0,1 h -1 v 1 h 1 z"
      ></path>
      <path
        style="display:inline;fill:#edcd84;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 18,18 v 1 1 h 1 1 v -1 -1 h -1 z m 25,0 v 1 1 h 1 1 v -1 -1 h -1 z"
      ></path>
      <path
        style="display:inline;fill:#9a5e3e;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 16,22 v 1 1 h 1 v -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#a2633f;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 26,8 v 1 h 1 v 1 h -1 -1 -1 v 1 h 1 v 1 1 h 1 v -1 h 1 v 1 h 1 v 1 h -1 -1 -1 v 1 h -1 v 1 h -1 v -1 -1 h -1 -1 v 1 h 1 v 1 1 h -1 v 1 1 1 1 1 1 1 h -1 v 1 1 h 1 1 1 v -1 -1 -1 h 1 v -1 -1 h -1 v 1 h -1 v -1 h 1 v -1 h -1 v -1 -1 h 1 v 1 1 h 1 v 1 h 1 v -1 h 1 v -1 h 1 v -1 h 1 v -1 h 1 1 v -1 h 1 1 1 v 1 h 1 1 v 1 h 1 v 1 h 1 v 1 1 h 1 1 v 1 h -1 v 1 h 1 v 1 1 h 1 v -1 -1 -1 -1 -1 h 1 v -1 h -1 v -1 -1 h -1 v -1 h 1 1 v -1 h -1 v -1 -1 h -1 v 1 h -1 v 1 h -1 v -1 h -1 v -1 h 1 v 1 h 1 v -1 h 1 v -1 h 1 v 1 h 1 1 v 1 1 h 1 1 1 V 14 H 44 43 V 13 12 H 42 41 V 11 H 40 39 V 10 H 38 V 9 H 37 36 35 V 8 h -1 -1 -1 -1 -1 -1 -1 -1 z m -3,6 h 1 1 v -1 h -1 v -1 -1 h -1 -1 v 1 h 1 v 1 z m 11,-4 h 1 1 1 v 1 h 1 v 1 h -1 v -1 h -1 -1 -1 z m -15,2 v 1 h 1 v -1 z m -2,11 v 1 h 1 1 v -1 h -1 z"
      ></path>
      <path
        style="display:inline;fill:#83503a;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 20,11 v 1 1 h 1 1 v 1 h 1 v -1 -1 h -1 v -1 h -1 z m 3,3 v 1 1 h 1 v -1 -1 z m -3,-1 h -1 -1 v 1 h 1 1 z m -3,2 v 1 h 1 v -1 z m 13,1 v 1 h -1 -1 v 1 h -1 v 1 h -1 v 1 h -1 v 1 h -1 v 1 1 h -1 v 1 1 1 h -1 v 1 1 1 h 1 v -1 h 1 v -1 -1 h 1 1 v -1 h 1 1 1 1 v 1 h 1 1 1 v -1 h 1 1 v 1 1 h 1 v -1 h 1 1 v 1 h 1 v 1 h 1 1 v -1 h -1 v -1 -1 h -1 v -1 -1 h -1 v -1 h 1 v -1 h -1 -1 v -1 -1 h -1 v -1 h -1 v -1 h -1 -1 v -1 h -1 -1 z m -8,13 h -1 v 1 1 1 h -1 v 1 1 h -1 v 1 h 1 1 v 1 h -1 -1 v 1 1 h 1 v -1 h 1 v 1 h -1 v 1 h 1 v 1 h -1 v 1 h -1 v 1 h -1 v 1 1 h 1 1 1 1 v 1 1 h 1 v 1 h -1 v 1 h 1 1 1 v 1 h 1 1 1 1 v 1 h 1 1 1 1 v -1 -1 h -1 -1 -1 -1 v -1 h -1 -1 v -1 h -1 -1 v -1 -1 h -1 v -1 h 1 v -1 h -1 v -1 -1 -1 h -1 v -1 -1 -1 -1 -1 h -1 v -1 h 1 v -1 h -1 v -1 -1 z m -2,11 v -1 h -1 v 1 z m 19,-8 v 1 1 h -1 v 1 1 h 1 v 1 h -1 v 1 h 1 v 1 1 h 1 v -1 -1 -1 h 1 v -1 h -1 v -1 -1 -1 -1 z m 0,8 h -1 v 1 1 h -1 v 1 h 1 v 1 h 1 v -1 -1 -1 z m 13,-7 v 1 h 1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#7a3f31;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 43,6 v 1 h -1 v 1 1 1 1 1 h 1 v -1 h 1 V 10 9 h 1 V 8 h 1 V 7 6 h -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#a1653f;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 45,16 v 1 h 1 v -1 z m -5,7 v 1 h 1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#79493a;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 8,42 v 1 1 1 H 7 v 1 1 h 1 v -1 h 1 v 1 h 1 v -1 -1 -1 -1 h 1 V 42 H 10 9 Z m 45,14 v 1 h 1 v -1 z m 1,1 v 1 1 h 1 v -1 -1 z m 1,2 v 1 1 h -1 v 1 h 1 1 1 1 1 v -1 h -1 v -1 -1 -1 h -1 -1 v 1 z m -1,2 v -1 h -1 v 1 z M 18,59 v 1 h 1 v -1 z m 0,1 h -1 v 1 h 1 z m 1,1 v 1 h 1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#87503a;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 8,46 v 1 H 7 v 1 1 h 1 v 1 1 H 7 v 1 h 1 1 v 1 H 8 v 1 H 7 v 1 h 1 1 v -1 h 1 v 1 1 H 9 v 1 1 h 1 v -1 h 1 v -1 h 1 v 1 h -1 v 1 1 h 1 v 1 h -1 v 1 h 1 v 1 h 1 1 1 1 1 v -1 h -1 -1 v -1 h 1 v -1 h 1 v -1 h 1 v 1 h 1 v -1 -1 h 1 v 1 h 1 1 v -1 h 1 1 v -1 h 1 v 1 h 1 1 v -1 h 1 1 v -1 -1 h -1 -1 -1 v 1 h -1 v -1 h -1 v -1 h -1 v -1 h -1 -1 v 1 h -1 v -1 -1 h -1 v -1 h -1 v 1 h -1 v -1 -1 h -1 v 1 h -1 v -1 h -1 v -1 h -1 v 1 H 12 V 48 H 11 10 V 47 H 9 v -1 z m 17,11 h -1 v 1 1 h 1 v -1 z m -14,3 v -1 h -1 v 1 z m 2,-4 h 1 v 1 h 1 v 1 1 h -1 -1 v -1 h 1 v -1 h -1 z"
      ></path>
      <path
        style="display:inline;fill:#75cb7b;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 0,43 v 1 1 1 1 1 1 1 H 1 2 3 4 5 V 49 48 H 6 V 47 46 45 H 7 V 44 43 H 6 5 4 3 2 1 Z m 53,0 v 1 h 1 v 1 1 h 1 v 1 1 1 h 1 v 1 h 1 1 1 1 1 1 v -1 -1 -1 -1 -1 -1 -1 h -1 -1 -1 -1 -1 -1 -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#402728;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 6,48 v 1 h 1 v -1 z m -2,7 v 1 h 1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#6c4035;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 6,49 v 1 1 1 H 5 v 1 1 1 1 H 4 v 1 1 H 3 v 1 1 1 H 2 v 1 h 1 1 1 1 1 1 1 1 1 1 v -1 h -1 v -1 h -1 v -1 h 1 v -1 -1 h -1 v 1 H 9 v -1 -1 h 1 V 55 54 H 9 v 1 H 8 7 V 54 H 8 V 53 H 9 V 52 H 8 7 V 51 H 8 V 50 49 H 7 Z m 5,8 h 1 v -1 h -1 z m 0,2 v 1 h 1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#623b32;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 10,41 v 1 h 1 v -1 z m 1,1 v 1 h -1 v 1 h 1 1 v -1 -1 z m 1,2 v 1 h 1 v -1 z m 1,1 v 1 h 1 v -1 z m 2,1 v 1 h 1 v -1 z m 2,0 v 1 1 h 1 v -1 -1 z m 1,2 v 1 h 1 v -1 z m 1,0 h 1 v 1 1 h 1 v 1 h 1 1 v 1 h 1 1 v 1 h 1 1 1 v -1 h 1 v 1 h 1 v -1 h 1 1 1 v -1 h 1 1 v -1 h -1 -1 -1 -1 -1 -1 v -1 h -1 -1 -1 -1 v -1 h -1 -1 -1 -1 v -1 h -1 -1 z m 16,3 v 1 h 1 v -1 z m 1,0 h 1 v -1 h 1 v -1 h -1 -1 v 1 z"
      ></path>
      <path
        style="display:inline;fill:#77473a;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 10,44 v 1 1 1 1 h 1 1 v 1 h 1 v -1 h 1 v 1 h 1 v 1 h 1 v -1 h 1 v 1 1 h 1 v -1 h 1 v 1 h 1 v 1 1 h 1 v -1 h 1 1 v -1 h -1 -1 v -1 h -1 v -1 -1 h -1 v 1 h -1 v -1 h -1 v -1 h -1 -1 v -1 h -1 -1 v -1 h -1 v -1 h -1 z m 13,8 v 1 h 1 v 1 h 1 v 1 h 1 v -1 h 1 1 1 v 1 h 1 1 v -1 h 1 1 1 1 v -1 h 1 1 v -1 h -1 -1 v -1 h -1 -1 v 1 h -1 -1 -1 v 1 h -1 v -1 h -1 v 1 h -1 -1 -1 v -1 h -1 z m 12,-1 h 1 v -1 -1 h -1 v 1 z m 1,-2 h 1 v -1 h -1 z m 1,3 h 1 1 v -1 -1 -1 h -1 v 1 h -1 v 1 z m -4,-3 v 1 h 1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#90593e;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 22,18 v 1 1 h 1 v -1 -1 z m 1,2 v 1 h 1 v -1 z m 0,1 h -1 v 1 h 1 z m -3,1 v 1 h -1 v 1 h -1 -1 v 1 h 1 1 v 1 h 1 v -1 -1 h 1 v -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#50bc88;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 0,0 v 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 H 1 2 3 4 5 6 7 V 42 H 8 V 41 40 H 9 V 39 H 8 v -1 -1 -1 -1 h 1 v -1 -1 -1 -1 h 1 v -1 -1 -1 h 1 v -1 -1 h 1 v -1 -1 -1 h 1 v -1 -1 -1 h 1 v -1 -1 h 1 V 17 16 15 H 14 V 14 13 H 13 V 12 11 10 9 8 h 1 V 7 6 h 1 V 5 h 1 1 1 v 1 h 1 v 1 h 1 v 1 h 1 v 1 h 1 v 1 h 1 V 9 h 1 V 8 h 1 1 V 7 h 1 1 1 1 1 1 1 1 1 v 1 h 1 1 1 v 1 h 1 v 1 h 1 V 9 h 1 V 8 7 h 1 V 6 h 1 V 5 h 1 1 1 v 1 h 1 v 1 1 h 1 v 1 1 1 1 1 h -1 v 1 1 h -1 v 1 h 1 v 1 h 1 v 1 1 1 1 h 1 v 1 1 1 h 1 v 1 1 1 h 1 v 1 1 h 1 v 1 1 h 1 v 1 1 1 1 1 1 1 1 h -1 v 1 1 h 1 v 1 1 h 1 1 1 1 1 1 1 1 1 V 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 H 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 Z"
      ></path>
      <path
        style="display:inline;fill:#593730;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 27,25 v 1 1 1 1 h 1 v 1 h 1 v 1 1 h -1 v 1 h -1 v 1 h -1 -1 v -1 h -1 v 1 1 h 1 1 v 1 h -1 v 1 h 1 v 1 h -1 v -1 h -1 v 1 1 h 1 v 1 h 1 v 1 1 1 h -1 v 1 h 1 1 1 1 v -1 h 1 v -1 h 1 v -1 -1 -1 -1 -1 -1 -1 h 1 v 1 1 1 1 1 1 1 h 1 v 1 1 h 1 1 v 1 h 1 1 1 v -1 -1 h -1 v -1 h 1 v -1 -1 h 1 v -1 -1 h -1 v -1 h 1 v -1 h -1 v -1 -1 h 1 v -1 -1 h 1 v -1 -1 -1 h -1 v -1 -1 h -1 v -1 h -1 -1 v 1 h -1 v -1 -1 h -1 -1 v 1 h -1 -1 -1 v -1 h -1 -1 z m -2,8 h 1 1 v -1 h -1 -1 z m 0,-1 v -1 h -1 v 1 z"
      ></path>
      <path
        style="display:inline;fill:#3e2628;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 31,35 v 1 1 1 1 1 1 h 1 v -1 -1 -1 -1 -1 -1 z m -3,10 v 1 h -1 v 1 h 1 1 v 1 h 1 1 1 1 1 1 v -1 h 1 1 v -1 h -1 -1 v -1 h -1 -1 v 1 h -1 v -1 h -1 -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#c8894c;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 45,28 v 1 h 1 v -1 z m 1,1 v 1 h 1 v 1 h 1 v -1 -1 h -1 z m -5,2 v 1 h 1 v -1 z m 1,1 v 1 1 h 1 1 v -1 h -1 v -1 z m 0,2 h -1 -1 v 1 1 h 1 1 v -1 z m 0,2 v 1 h 1 v -1 z m 0,1 h -1 -1 v 1 h 1 1 z m -1,2 v 1 h 1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#4d2e29;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 39,28 v 1 h 1 v -1 z m -16,3 v 1 1 1 1 1 1 1 1 h 1 v -1 -1 h 1 v -1 h 1 v -1 h -1 -1 v -1 -1 -1 -1 z m 2,6 v 1 h 1 v -1 z m -1,3 v 1 1 h 1 v -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#7a3f2f;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 15,6 v 1 1 h 1 1 v 1 h 1 v 1 1 h 1 v 1 h 1 V 11 10 9 8 H 19 V 7 H 18 V 6 h -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#3e2627;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 24,39 v 1 h 1 v -1 z m 1,1 v 1 1 1 h 1 v -1 -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#3d2426;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 30,43 v 1 h -1 v 1 h 1 1 1 v 1 h 1 v -1 -1 -1 h -1 -1 z m -5,2 v 1 h 1 1 1 v -1 h -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#9a5e3d;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 35,47 v 1 h 1 v -1 z m 0,1 h -1 -1 v 1 h 1 1 z m 3,0 v 1 h 1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#653d34;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 26,25 v 1 h -1 v 1 h 1 1 v -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#372125;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 24,27 v 1 1 h -1 v 1 1 h 1 1 v -1 -1 h 1 v -1 -1 h -1 z"
      ></path>
      <path
        style="display:inline;fill:#392123;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 25,31 v 1 h 1 v -1 z m 0,1 h -1 v 1 h 1 z m 0,1 v 1 h 1 1 v -1 h -1 z m 2,0 h 1 v -1 -1 h -1 v 1 z"
      ></path>
      <path
        style="display:inline;fill:#bc7a45;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 50,43 v 1 h 1 v 1 h -1 -1 v 1 h -1 v 1 h -1 v 1 h -1 v 1 h -1 -1 v 1 h -1 -1 v 1 1 1 h -1 v -1 h -1 v 1 1 1 h -1 v -1 h -1 v 1 1 h -1 v -1 h -1 v 1 1 h -1 v 1 1 h -1 v -1 h -1 v 1 1 h 1 v 1 h -1 -1 v 1 h 1 1 1 1 1 1 1 1 1 1 1 1 v -1 -1 h -1 v -1 -1 h 1 v 1 1 h 1 v 1 h 1 v 1 h 1 1 1 1 1 1 1 1 v -1 h -1 v -1 h 1 v 1 h 1 v -1 -1 h -1 v -1 -1 h -1 v -1 h 1 v 1 h 1 v 1 1 h 1 v -1 h 1 v -1 -1 -1 h -1 v -1 -1 -1 h -1 v -1 -1 -1 h -1 v -1 -1 h -1 v -1 -1 h -1 v -1 -1 h -1 z m 0,7 h 1 1 v 1 1 h 1 v 1 1 h -1 v -1 -1 h -1 v -1 h -1 z m -1,2 h 1 v 1 h 1 v 1 1 h -1 v -1 h -1 v -1 z m -1,3 h 1 v 1 h 1 v 1 1 h -1 v -1 -1 h -1 z m -2,3 h 1 v 1 h 1 v 1 h 1 v 1 h -1 -1 v -1 h -1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#c48648;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 50,50 v 1 h 1 v 1 h 1 v -1 -1 h -1 z m 2,2 v 1 1 h 1 v -1 -1 z m -3,0 v 1 1 h 1 v 1 h 1 v -1 -1 h -1 v -1 z m -1,3 v 1 h 1 v -1 z m 1,1 v 1 1 h 1 v -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#84503a;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 42,47 v 1 h -1 -1 -1 v 1 1 1 h 1 v -1 h 1 1 v -1 h 1 v -1 h 1 1 v -1 h -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#99d16f;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 0,50 v 1 1 1 1 1 1 1 1 1 1 1 1 H 1 V 61 H 2 V 60 59 58 H 3 V 57 56 55 H 4 V 54 53 52 H 5 V 51 50 H 4 3 2 1 Z m 56,0 v 1 1 h 1 v 1 1 1 h 1 v 1 1 1 h 1 v 1 1 1 1 h 1 1 1 v -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 h -1 -1 -1 -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#7b4a39;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 22,29 v 1 1 1 h 1 v -1 -1 -1 z"
      ></path>
      <path
        style="display:inline;fill:#89523a;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 37,46 v 1 h -1 v 1 h 1 v 1 h 1 v -1 -1 -1 z m -1,2 h -1 v 1 h 1 z m -1,1 h -1 v 1 h 1 z m 1,2 v 1 h 1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#78483a;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 19,44 v 1 h -1 v 1 1 1 h 1 v -1 -1 h 1 v -1 -1 z m 2,2 v 1 1 h 1 v -1 h 1 v -1 h -1 z"
      ></path>
      <path
        style="display:inline;fill:#a16140;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 15,23 v 1 1 h -1 v 1 1 h 1 v -1 h 1 v -1 h 1 v -1 h -1 v -1 z m 2,2 v 1 h 1 v 1 h -1 v -1 h -1 v 1 h -1 v 1 h 1 v 1 h -1 v -1 h -1 v -1 h -1 v 1 h -1 v 1 1 h 1 v -1 h 1 v 1 h -1 v 1 h -1 v 1 1 1 h 1 v -1 h 1 v -1 h 1 v -1 h 1 v 1 h -1 v 1 h -1 v 1 h -1 v 1 h -1 v 1 1 1 h 1 v -1 -1 h 1 v -1 h 1 v 1 h -1 v 1 1 h -1 v 1 h -1 v 1 h 1 1 v -1 h 1 v -1 h 1 v 1 h -1 v 1 h 1 1 v 1 h 1 v 1 h 1 v -1 h 1 v -1 h -1 v -1 h 1 v -1 h -1 v -1 -1 h 1 1 v -1 h -1 -1 v -1 h 1 v -1 -1 h 1 v -1 -1 -1 h 1 v -1 -1 -1 h -1 -1 -1 v -1 h -1 z m 3,13 h 1 v -1 h -1 z m 0,1 v 1 h 1 v -1 z m -2,3 h -1 v 1 1 h 1 v -1 z m -1,0 v -1 h -1 v 1 z m -2,-2 h -1 v 1 1 h 1 v -1 z m 7,-7 v 1 h 1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#9d5f3e;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 41,45 v 1 1 h -1 v 1 h 1 1 v -1 h 1 1 v -1 h -1 -1 v -1 z m 4,2 v 1 h -1 -1 v 1 h -1 v 1 h 1 1 v -1 h 1 1 v -1 h 1 v -1 h -1 z m -3,3 h -1 -1 v 1 h -1 v 1 h -1 -1 v 1 h -1 -1 v 1 h -1 -1 -1 -1 v 1 h -1 -1 v 1 h -1 -1 v 1 h -1 -1 v 1 1 h -1 v -1 -1 h -1 -1 v 1 h -1 -1 v -1 h -1 v 1 1 1 h -1 v 1 h -1 v 1 h 1 1 v -1 h 1 v 1 h 1 1 1 1 1 1 1 1 1 1 1 1 v -1 h 1 1 v -1 h -1 v -1 -1 h 1 v 1 h 1 v -1 -1 h 1 v -1 -1 h 1 v 1 h 1 v -1 -1 h 1 v 1 h 1 v -1 -1 -1 h 1 v 1 h 1 V 52 51 Z M 17,61 v -1 h 1 v -1 -1 h -1 v 1 h -1 v 1 h -1 v 1 h 1 z m 7,-4 h 1 V 56 H 24 Z M 13,56 v 1 h 1 v -1 z m 1,1 v 1 h -1 v 1 h 1 1 v -1 -1 z m 29,1 v 1 1 h 1 v -1 -1 z m 1,2 v 1 1 h 1 1 v -1 h -1 v -1 z m 2,-2 v 1 1 h 1 v 1 h 1 1 v -1 h -1 v -1 h -1 v -1 z"
      ></path>
      <path
        style="display:inline;fill:#000000;fill-opacity:1;stroke-width:0.0489097;-inkscape-stroke:none"
        d="m 15,5 v 1 h 1 1 1 V 5 h -1 -1 z m 3,1 v 1 h 1 V 6 Z m 1,1 v 1 h 1 V 7 Z m 1,1 v 1 h 1 V 8 Z m 1,1 v 1 h 1 V 9 Z m 1,1 v 1 h 1 v -1 z m 1,0 h 1 V 9 h -1 z m 1,-1 h 1 1 V 8 h -1 -1 z m 2,-1 h 1 1 1 1 1 1 1 1 1 V 7 h -1 -1 -1 -1 -1 -1 -1 -1 -1 z m 9,0 v 1 h 1 1 1 V 8 h -1 -1 z m 3,1 v 1 h 1 V 9 Z m 1,1 v 1 h 1 v -1 z m 1,0 h 1 V 9 h -1 z m 1,-1 h 1 V 8 7 h -1 v 1 z m 1,-2 h 1 V 6 h -1 z m 1,-1 h 1 1 1 V 5 h -1 -1 -1 z m 3,0 v 1 1 h 1 V 7 6 Z m 1,2 v 1 1 1 1 1 h 1 V 12 11 10 9 8 Z m 0,5 h -1 v 1 h -1 v 1 1 h 1 v -1 h 1 v -1 z m -1,3 v 1 h 1 v -1 z m 1,1 v 1 1 1 1 h 1 v -1 -1 -1 -1 z m 1,4 v 1 1 1 h 1 v -1 -1 -1 z m 1,3 v 1 1 1 h 1 v -1 -1 -1 z m 1,3 v 1 1 h 1 v -1 -1 z m 1,2 v 1 1 h 1 v -1 -1 z m 1,2 v 1 1 h 1 V 32 31 Z M 15,6 h -1 v 1 1 h 1 V 7 Z m -1,2 h -1 v 1 1 1 1 1 h 1 V 12 11 10 9 Z m 0,5 v 1 1 h 1 v -1 -1 z m 1,2 v 1 1 h 1 v -1 -1 z m 2,2 v 1 h -1 v 1 1 1 1 h 1 v 1 h 1 1 1 v -1 h 1 v -1 -1 -1 -1 h -1 v 1 1 h -1 -1 v -1 -1 h 1 1 v -1 h -1 -1 z m 25,0 v 1 h -1 v 1 1 1 1 h 1 v 1 h 1 1 1 v -1 h 1 v -1 -1 -1 -1 h -1 v 1 1 h -1 -1 v -1 -1 h 1 1 v -1 h -1 -1 z m -28,1 v 1 1 h 1 v -1 -1 z m 0,2 h -1 v 1 1 1 h 1 v -1 -1 z m -1,3 h -1 v 1 1 1 h 1 v -1 -1 z m -1,3 h -1 v 1 1 h 1 v -1 z m -1,2 h -1 v 1 1 1 h 1 v -1 -1 z m -1,3 H 9 v 1 1 1 1 h 1 V 34 33 32 Z M 9,35 H 8 v 1 1 1 1 h 1 v -1 -1 -1 z m 0,4 v 1 h 1 v -1 z m 1,1 v 1 h 1 V 40 Z M 9,40 H 8 v 1 1 H 9 V 41 Z M 8,42 H 7 v 1 1 1 H 8 V 44 43 Z M 7,45 H 6 v 1 1 1 H 7 V 47 46 Z M 6,48 H 5 v 1 1 1 1 H 6 V 51 50 49 Z M 5,52 H 4 v 1 1 1 H 5 V 54 53 Z M 4,55 H 3 v 1 1 1 H 4 V 57 56 Z M 3,58 H 2 v 1 1 1 H 3 V 60 59 Z M 2,61 H 1 v 1 H 2 Z M 26,28 v 1 h -1 v 1 1 h 1 v 1 h 1 v -1 h 1 v 1 h 1 v -1 -1 h -1 v -1 h -1 v -1 z m 10,1 v 1 h -1 v 1 1 h 1 1 v -1 h 1 v -1 -1 h -1 z m 16,5 v 1 1 1 1 1 h 1 v -1 -1 -1 -1 -1 z m 0,5 h -1 v 1 1 h 1 v -1 z m 0,2 v 1 1 1 h 1 v -1 -1 -1 z m 1,3 v 1 1 h 1 v -1 -1 z m 1,2 v 1 1 1 h 1 v -1 -1 -1 z m 1,3 v 1 1 1 h 1 v -1 -1 -1 z m 1,3 v 1 1 1 h 1 v -1 -1 -1 z m 1,3 v 1 1 1 h 1 v -1 -1 -1 z m 1,3 v 1 1 1 h 1 v -1 -1 -1 z m 1,3 v 1 h 1 V 61 Z M 31,41 v 1 h -1 v 1 h 1 1 1 v -1 h -1 v -1 z m -1,2 h -1 v 1 h 1 z m -1,1 h -1 -1 -1 -1 v 1 h 1 1 1 1 z m -4,0 v -1 h -1 v 1 z m 8,0 v 1 h 1 1 v -1 h -1 z m 2,1 v 1 h 1 1 1 v -1 h -1 -1 z m 3,0 h 1 v -1 h -1 z"
      ></path>
    </g>
  </svg>

  <svg
    viewBox="0 0 434 434"
    version="1.1"
    xml:space="preserve"
    id="mouth-open"
  >
    <defs id="defs1"></defs>
    <g id="layer2" style="display:inline" transform="scale(7)">
      <path
        id="rect106"
        style="fill:#86523b;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 16,17 v 5 h 1 v -1 h 1 v -1 h 1 v -3 h -1 z"
      ></path>
      <rect
        style="fill:#50bc88;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        id="rect103"
        width="35"
        height="10"
        x="13"
        y="5"
      ></rect>
      <path
        id="rect18"
        style="fill:#b67543;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 25,9 v 1 h -2 v 1 h -2 v 1 h -2 v 1 h -1 v 1 h -1 v 3 h 1 v -1 h 1 v 2 h 2 v 1 h 1 v 3 h 1 v -1 h 1 1 v -1 h -1 v -1 h 14 v 1 h 1 v 8 6 h -1 v 5 h -1 v 8 1 h -2 v 1 h -1 v 1 h -1 v 1 h -5 v 1 h 6 v -1 h 2 v -1 h 2 v -2 h 2 v -1 h 2 v -8 h 2.1875 V 34 H 44 v -6 -4 h 2 v -6 h -2 v -2 h 1 V 15 14 H 44 43 V 12 H 41 V 11 H 38 V 10 H 36 V 9 Z m 3,42 v -1 h -1 v -1 h -1 v -1 h -1 v -2 h -1 v -7 h -1 v 2 7 h 1 v 2 h 1 v 1 h 1 1 z"
      ></path>
      <path
        id="rect1"
        style="fill:#000000;fill-opacity:1;stroke-width:4.1084;-inkscape-stroke:none"
        d="m 17,6 v 1 h 1 1 V 6 h -1 z m 2,1 v 1 h 1 V 7 Z m 1,1 v 1 h 1 V 8 Z m 1,1 v 1 h 1 V 9 Z m 1,1 v 1 h 1 v -1 z m 1,0 h 1 1 V 9 H 24 23 Z M 25,9 H 36 V 8 H 25 Z m 11,0 v 1 h 2 V 9 Z m 2,1 v 1 h 2 v -1 z m 2,0 h 1 V 9 h -1 z m 1,-1 h 1 V 8 h -1 z m 1,-1 h 1 V 7 h -1 z m 1,-1 h 2 V 6 h -2 z m 2,0 v 1 h 1 V 7 Z m 1,1 v 5 h 1 V 8 Z M 17,7 h -1 v 1 h 1 z m -1,1 h -1 v 1 h 1 z m -1,1 h -1 v 1 1 1 1 h 1 v -1 -1 -1 z m 0,4 v 1 h 1 v -1 z m 1,1 v 1 h 1 v -1 z m 29,0 v 3 h 1 v -3 z m -26,1 v 1 h -1 v 1 h -1 v 1 h 1 1 v -1 h 1 1 1 v 1 h 1 v -1 -1 h -1 v -1 h -1 -1 z m 21,0 v 1 h -1 v 1 1 h 1 v -1 h 1 1 1 v 1 h 1 v -1 -1 h -1 v -1 h -1 -1 z m -14,4 v 1 h 1 1 v 1 h 1 v -1 -1 h -1 -1 z m 0,1 h -1 v 1 h 1 z m 7,-1 v 1 1 h 1 1 1 1 v -1 h -1 v -1 h -1 -1 z"
      ></path>
      <path
        id="rect3"
        style="fill:#472929;fill-opacity:1;stroke-width:3.40154;-inkscape-stroke:none"
        d="m 15,9 v 1 1 1 1 h 1 v 1 h 1 V 13 12 11 10 H 16 V 9 Z m 26,0 v 1 h 1 V 9 Z m 0,1 h -1 v 1 h 1 z m 4,0 v 1 1 1 1 h 1 v -1 -1 -1 -1 z m -2,2 v 1 h 1 v -1 z"
      ></path>
      <path
        id="rect3-7"
        style="fill:#2b1b23;fill-opacity:1;stroke-width:3.40154;-inkscape-stroke:none"
        d="m 16,9 v 1 h 1 V 9 Z m 1,1 v 1 1 1 1 h 1 v -1 h 1 V 12 11 H 18 V 10 Z M 45,9 v 1 h 1 V 9 Z m 0,1 h -1 v 1 h -1 -1 -1 v 1 h 1 1 1 v 1 h -1 v 1 h 1 1 v -1 -1 -1 z"
      ></path>
      <path
        id="rect3-77"
        style="display:inline;fill:#7a3f31;fill-opacity:1;stroke-width:3.40154;-inkscape-stroke:none"
        d="m 17,7 v 1 h -1 v 1 h 1 v 1 h 1 v 1 h 1 v 1 h 1 v -1 h 1 1 V 10 H 21 V 9 H 20 V 8 H 19 V 7 Z m 26,0 v 1 h -1 v 1 1 h -1 v 1 h 1 1 1 v -1 h 1 V 9 h 1 V 8 H 45 V 7 h -1 z"
      ></path>
      <rect
        style="fill:#a6583b;fill-opacity:1;stroke-width:3.40154;-inkscape-stroke:none"
        id="rect3-3-7-0-7"
        width="1"
        height="1"
        x="20"
        y="11"
      ></rect>
      <rect
        style="fill:#69382d;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        id="rect4"
        width="1"
        height="1"
        x="33"
        y="21"
      ></rect>
      <rect
        style="fill:#864a34;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        id="rect5"
        width="1"
        height="1"
        x="34"
        y="21"
      ></rect>
      <rect
        style="fill:#884e36;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        id="rect6"
        width="1"
        height="1"
        x="36"
        y="19"
      ></rect>
      <rect
        style="fill:#955339;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        id="rect7"
        width="1"
        height="1"
        x="35"
        y="18"
      ></rect>
      <path
        id="rect8"
        style="fill:#7c4430;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 25,18 v 1 h -1 v 1 h 2 v -1 h 1 v -1 z"
      ></path>
      <rect
        style="fill:#a8603c;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        id="rect9"
        width="1"
        height="1"
        x="24"
        y="18"
      ></rect>
      <rect
        style="fill:#66382b;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        id="rect10"
        width="1"
        height="1"
        x="27"
        y="20"
      ></rect>
      <path
        id="rect11"
        style="fill:#83503a;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 27,15 v 1 h -1 v 2 h 1 v 1 h 2 v 2 h -2 v -1 h -1 v 1 h -2 -1 v 2 2 1 1 7 h 1 1 v -4 h 1 v -2 h 1 v -1 h 1 v -1 h 1 4 1 v 2 h 1 v 1 h 1 v 2 h 1 v 4 4 h 1 v -4 -1 h 1 V 23 h -1 v -1 -1 h -3 v 1 h -2 v -3 h 1 1 v -1 h 1 v 1 h 1 1 v -1 h -1 v -1 h -1 v -1 h -1 v 0 h -1 v -1 z"
      ></path>
      <path
        id="rect31"
        style="fill:#b1653d;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 37,19 v 2 h 1 v 2 h 1 v -3 h -1 v -1 z"
      ></path>
      <path
        id="rect33"
        style="fill:#3a1a21;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 28,26 v 1 h -1 v 1 h -1 v 2 h -1 v 5 h 1 v 2 h 1 v -2 h 1 1 v -1 h 4 v 1 h 1 v 1 h 1 v 2 h 1 v 2 h 1 v -2 -2 -1 -4 h -1 v -2 h -1 v -1 h -1 v -2 z"
      ></path>
      <path
        id="rect41"
        style="fill:#7b4a39;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 23,34 v 5 h 1 v -4 h 1 v -1 h -1 z"
      ></path>
      <path
        id="rect43"
        style="fill:#27151f;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 29,34 v 1 h -2 v 1 1 h -1 v 2 h 1 1 v -1 h 5 v 1 h 2 v 1 h 1 v -1 -1 h -1 v -2 h -1 v -1 h -1 v -1 z"
      ></path>
      <path
        id="rect60"
        style="fill:#471b23;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 25,35 v 5 h 1 v -5 z m 1,5 v 4 h 1 v 3 h 1 v -4 h -1 v -3 z m 1,0 h 1 5 1 v 1 h 1 v 2 h 1 v -3 h -1 v -1 h -1 -1 v -1 h -5 v 1 h -1 z m 8,3 h -1 v 2 h -1 v 2 h 1 v -1 h 1 v -1 z m -2,4 h -5 v 1 h 5 z"
      ></path>
      <rect
        style="fill:#3e1a21;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        id="rect72"
        width="1"
        height="1"
        x="26"
        y="39"
      ></rect>
      <path
        id="rect73"
        style="fill:#712b2b;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 24,35 v 2 8 h 1 v 2 h 1 v 1 h 1 v 1 h 1 v 1 h 5 v -1 h 1 v -1 h 1 v -1 h 1 1 v -2 -5 h -1 v 4 h -1 v 2 h -1 v 1 h -1 v 1 h -5 v -1 h -1 v -3 h -1 v -4 h -1 v -3 -2 z"
      ></path>
      <path
        style="fill:#672527;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 27,40 c 0,0 -3.5,-2 0,0 z"
        id="path103"
      ></path>
      <path
        id="rect104"
        style="fill:#471b23;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 27,40 v 3 h 1 v 4 h 5 v -2 h 1 v -2 h 1 v -2 h -1 v -1 z"
      ></path>
      <rect
        style="fill:#602426;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        id="rect105"
        width="1"
        height="1"
        x="35"
        y="43"
      ></rect>
      <path
        id="rect107"
        style="fill:#a16140;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 17,21 v 2 h 3 v -1 h 2 v -2 h 1 v -1 h -1 -1 v -1 h -2 v 2 h -1 v 1 z"
      ></path>
      <path
        id="rect108"
        style="fill:#623b32;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 24,48 v 3 h 2 v 1 h 8 v -1 h -1 -5 v -1 h -1 v -1 h -1 v -1 z"
      ></path>
      <path
        id="rect110"
        style="fill:#9d5f3e;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        d="m 23,39 v 9 h 2 v -2 h -1 v -7 z"
      ></path>
      <rect
        style="fill:#b67543;fill-opacity:1;stroke-width:3.46408;-inkscape-stroke:none"
        id="rect111"
        width="1"
        height="1"
        x="36"
        y="46"
      ></rect>
    </g>
  </svg>
</button>
<style>
  #main-button {
    border-radius: 3rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border: none;
  }

  #main-button:hover > #mouth-open {
    display: block;
  }

  #main-button:active {
    box-shadow: 1px 2px 100px 25px rgba(80, 188, 136, 0.85);
  }

  #main-button:active > #mouth-open {
    display: none;
  }

  #mouth-open {
    position: absolute;
    top: 0;
    left: 0px;
    display: none;
    height: 100%;
    width: 100%;
  }
</style>