---
import "@styles/global.css"
import { NAME } from "astro:env/client"
import { ClientRouter } from "astro:transitions"
import "@fontsource/noto-serif-tc/600.css"

const defaultTitle = `Feliz cumpleaños, ${NAME}`
const defaultDescription = `Un sitio web de deseos de cumpleaños hecho para ${NAME}.`

interface Props {
	title?: string;
	description?: string;
}
let { title, description } = Astro.props
title ??= defaultTitle
description ??= defaultDescription
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>

		<link
			rel="preload"
			href="/fonts/Minecraft-Regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<ClientRouter />
	</head>
	<body>
		<div class="h-dvh w-full">
			<div class="overflow-hidden">
				<div id="mask" class='unlocked'>
					<div id="background">
						<div class="relative z-2">
							<slot />
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

<style is:global>
	:root {
		--color-text: #c0c0c0;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;

		background-color: #141414;

		font-family:
			ui-sans-serif,
			system-ui,
			sans-serif,
			"Apple Color Emoji",
			"Segoe UI Emoji",
			Segoe UI Symbol,
			"Noto Color Emoji";
		color: var(--color-text);
	}
    #background {
		background-color: #262626;
    }
	@keyframes lock-reveal {
		0% {
			mask-size: 50px;
		}
		100% {
			mask-size: 2000vh;
		}
	}

  #mask {
    mask-image: url('/balloon.svg');
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 50px;
    overflow-y: scroll;
    position: fixed;
    inset: 0;

    &.animated {
      animation: lock-reveal 3s forwards ease-in-out;
    }
    &.unlocked {
      position: relative;
      mask-size: 2000vh;
    }
  }
</style>

<script>
  const maskEl = document.querySelector('#mask')
  maskEl?.classList.add('animated')
</script>