<div class="max-w-lg min-w-5 p-3 font-[Minecraft] text-black">
    <div class="flex flex-wrap items-center gap-5">
        <div class="w-7-block p-1 book bg-amber-50 rounded-3xl">
            <div class="text-end mb-1">Página 4 de 5</div>

            <slot />
        </div>
    </div>
</div>
<style>
    :root {
        --block-size: 58px;
        --zoom: 1;
    }

    .book {
        --zoom: 4;
        --size: calc((var(--block-size) / var(--zoom) * 3));
        border-width: var(--size);
        border-style: solid;
        border-left-width: calc(var(--size) / 1.5);
        border-image: url("/imgs/ui/book.avif");
        border-image-width: var(--size) var(--size) var(--size)
            calc(var(--size) / 1.5);
        border-image-slice: 8.5% 15% 12.75% 10% fill;
        border-image-repeat: stretch;
    }
</style>
