<div class="flex flex-wrap items-center justify-center gap-5 font-[Minecraft]">
  <div class="h-2-block w-4-block px-1 sign text-2xl">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
</div>

<style>
.sign {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-image: url('/imgs/ui/sign.png');
    white-space: pre-line;
    color: #000;
    image-rendering: pixelated;
    font-size: 1.2rem;
}
</style>